{% extends 'ex01/base.html' %}
{% load static %}

{% block title %} Ex01: Display process of a static page. {% endblock %}

{% block content %}

    <h1>Django (web framework)</h1>
    <div>
    <h2>About</h2>

        <p>
            Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django)[6] is a free and open-source, Python-based web framework that runs on a web server. It follows the model–template–views (MTV) architectural pattern.[7][8] It is maintained by the Django Software Foundation (DSF), an independent organization established in the US as a 501(c)(3) non-profit.
        </p>
        <p>
            Django's primary goal is to ease the creation of complex, database-driven websites. The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself.[9] Python is used throughout, even for settings, files, and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.
        </p>
    </div>

    <div>
        <h2>History</h2>
        <p>
            Django was created in the autumn of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.[16] It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.[17] Adrian Holovaty is a Romani jazz guitar player inspired in part by Reinhardt's music.[18]
        </p>
        <p>
            In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.[19]
        </p>
    </div>

{% endblock %}