<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{name}'s CV</title>
</head>
<body>
    <h1>{firstname} {lastname}</h1>
    <p><strong>Age</strong>: {age}</p>
    <p><strong>Profession</strong>: {profession}</p>
</body>
</html>