<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex00: Markdown Cheatsheet</title>
    <style>
        body {
            margin: 20px
        }
        div {
            margin: 20px 10px
        }
        table {
            align-self: center;
            border-collapse: collapse;
        }
        table tr td,th {
            border: 1px solid black;
            padding: 8px 16px;
        }
    </style>
</head>
<body>
    <h1>Markdown Guide</h1>
    {% for tag, value in tags.items %}
    <div>
        <h2>{{ tag | title }}</h2>
        <p>{{ value.description }}</p>
        {% if value.details %}
            <table>
                <tr>
                    <th>Markdown</th>
                    <th>HTML</th>
                    <th>Render Output</th>
                </tr>
                {% for d in value.details %}
                    <tr>
                        <td>{{ d.title | safe }}</td>
                        <td>{{ d.example }}</td>
                        <td>{{ d.example | safe }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% endfor %}
</body>
</html>
